* {
  outline: none;
  margin: 0;
  padding: 0;
  user-select: none;
  color: var(--primary-color);
	font-family: 'Roboto', sans-serif;

}

body {
  display: flex;
  flex-direction: column;
  background: var(--primary-background);
}
.app {
  margin-top: 30px;
}